@mixin screen320 {
	@media only screen and (max-width: 320px) {
		@content;
	}
}

@mixin screen640 {
	@media only screen and (min-width:321px) and (max-width: 640px) {
		@content;
	}
}

@mixin screen980 {
	@media only screen and (min-width:641px) and (max-width: 980px) {
		@content;
	}
}


@mixin screen980andMore {
	@media only screen and (min-width:980px) {
		@content;
	}
}

@mixin screen1200 {
	@media only screen and (min-width:981px) and (max-width: 1900px) {
		@content;
	}
}
