@import 'responsive';

$lightGray: #CBCCCE;
$gray: #373C3F;
$grayText: #3F4043;
$green: #ACD8AD;

$font-monst: 'Montserrat',
sans-serif;

@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0px;
}

.items-wrap {
	margin-top: 19px;
}

.container {
	max-width: 100%;
	margin: 0 auto;
}

.header {
	background-image: url(../img/header-fon320.png);
	background-repeat: no-repeat;
	padding-bottom: 94px;
	background-position: 0px 37px;

	&__title {
		margin-top: 13px;
		margin-left: 21px;
		max-width: 165px;
		font-size: 15px;
		color: white;
		font-family: 'Lato', sans-serif;
		line-height: 1.5;
		padding-bottom: 0px;
		margin-bottom: 0px;
		letter-spacing: 0.5px;
	}

	&__website {
		color: #A6D6E0;
		font-family: "Montserrat", sans-serif;
		margin-left: 21px;
		font-size: 12px;
		margin-top: 9px;
		letter-spacing: 0.4px;
	}

}

.nav {
	background-color: #373C3F;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 38px;

	&__logo {
		display: none;
	}

	&__title {
		color: white;
		font-size: 12px;
		font-family: $font-monst;
		margin-left: 18px;
	}

	&__toggle {
		display: flex;
		justify-content: center;
		width: 41px;
		height: 37px;
		background-color: #202529;

		& span {
			margin-top: 17px;
			height: 2px;
			width: 37%;
			background-color: white;
			display: block;
			position: relative;

			&::before,
			&::after {
				content: '';
				height: 2px;
				width: 100%;
				background-color: white;
				display: block;
				position: absolute;
				transition: all 0.3s;
			}

			&::before {
				top: -4px;
			}

			&::after {
				top: 4px;
			}
		}
	}

	&__toggle.on span {
		background-color: transparent;

		&::before {
			transform: rotate(45deg) translate(3px, 2px);
		}

		&::after {
			transform: rotate(-45deg) translate(4px, -3px);
		}
	}


	&__list {
		display: none;
		align-items: center;
		justify-items: center;
		flex-direction: column;
		width: 182px;
		position: absolute;
		top: 37px;
		right: 0;
	}

	&__list.active {
		display: block;
	}

	&__item {
		list-style: none;
		background-color: white;
		box-sizing: border-box;
		padding: 14px;
		width: 100%;
		border: 1px solid #E1E1E1;

		&:hover {
			background-color: #F5F5F5;
		}
	}

	&__link {
		color: #444444;
		text-decoration: none;
		font-size: 15px;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		margin: 21px 18px;
	}
}

.subheader {
	margin-top: 3px;
	display: flex;
	flex-direction: column;


	&__item {
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		margin: 1px 0px;

		&--1 {

			background-image: url('../img/Pizza-delivery.png');
			background-position: -65px 87px;
			background-size: cover;
		}

		&--2 {
			background-image: url(../img/UAUX-Salads-fon.png);
			background-position: 2px 85px;
			background-size: 243px auto;
		}

		&--3 {
			background-image: url(../img/Desserts-fon.png);
			background-position: 0px -26px;
			background-size: 250px auto;

		}
	}

	&__text {
		color: white;
		font-family: 'Lato', sans-serif;
		font-size: 20px;

		&--pizza {
			margin: -5px 0px 0px 4px;
			letter-spacing: 0.2px;
		}

		&--salads {
			margin: 0px 0px 0px 22px;
			letter-spacing: 0.2px;
		}

		&--desserts {
			margin: 0px 0px 4px -4px;
		}

	}

	&__button {
		padding: 30px 31px;
		/* height: 75px; */
		background-color: #ACD8AD;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__wrapper {
		width: 255px;
	}
}

.menu {

	font-family: 'Lato', sans-serif;
	//	padding-bottom: 80px;

	&__section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		//		margin-top: 11px;

		&--2 {
			margin-top: 22px;
		}
	}

	&__header {
		//		margin-left: 17px;
		/* width: 100%; */
		display: flex;
		justify-content: center;
		padding-bottom: 11px;


		&--title {
			font-family: 'Lato', sans-serif;
			//			display: inline-block;
			text-transform: uppercase;
			color: $grayText;
			font-size: 20px;
			text-align: center;
			margin-top: 20px;
			//			margin-bottom: 0px;

		}

		&--subtitle {
			font-family: 'Lato', sans-serif;
			color: #CBCCCE;
			font-size: 10px;
			margin-top: 3px;

		}
	}

	&__logo {
		display: none;
	}


	&__title {
		font-size: 19px;
		font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		padding-left: 18px;
		letter-spacing: 0.6px;
		padding: 9px 0px 9px 19px;

		&--dark {
			color: $green;
			background-color: $gray;
		}

		&--light {
			color: #ffffff;
			background-color: $green;
		}
	}

	&__secondary-title {
		text-transform: uppercase;
		font-size: 15px;
		color: #3F4043;
		margin-left: 17px;
		position: relative;
		margin-top: 17px;

		&--food {

			&::after {
				content: '';
				display: block;
				background-image: url(../img/menu-food.png);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				width: 23px;
				height: 25px;
				top: -4px;
				right: 18px;
			}
		}

		&--tea {
			//			padding-top: 29px;
			margin-left: 18px;

			&::after {
				content: '';
				display: block;
				background-image: url(../img/tea.png);
				background-repeat: no-repeat;
				position: absolute;
				width: 30px;
				height: 21px;
				top: -4px;
				right: 16px;
				background-size: cover;
			}
		}

		&--wine {
			padding-top: 4px;

			&::after {
				content: '';
				display: block;
				background-image: url(../img/wine.png);
				background-repeat: no-repeat;
				position: absolute;
				width: 13px;
				height: 24px;
				top: 0;
				right: 22px;
				background-size: cover;
			}
		}

		&--beer {
			padding-top: 5px;

			&::after {
				content: '';
				display: block;
				background-image: url(../img/beer.png);
				background-repeat: no-repeat;
				position: absolute;
				width: 21px;
				height: 20px;
				top: 1px;
				right: 22px;
				background-size: cover;
			}
		}
	}

	.menu-item {
		color: #3F4043;
		font-family: 'Lato', sans-serif;
		margin: 8px 17px;
		//		padding-top: 7px;

		&__title {
			font-size: 14px;
			display: inline-block;
			//			margin-top: 17px;
			//			margin-bottom: 0px;
			letter-spacing: -0.2px;

			&::before {
				content: '· ';
			}
		}

		&__text {
			font-size: 9px;
			margin-top: 6px;
			word-spacing: 1.3px;
			line-height: 120%;

		}

		&__price {
			font-size: 13px;
			display: inline-block;
			float: right;
			font-weight: 700;
			margin-top: 2px;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ACD8AD;
	padding: 0px 28px;
	font-family: $font-monst;
	margin-top: 40px;
	padding-bottom: 10px;

	&__logo {
		display: none;
	}

	&__text {
		color: white;
		font-size: 13px;
		text-align: center;
		margin-top: 9px;
		margin-left: 14px;
		letter-spacing: -0.5px;
		line-height: 1.5;
	}

}

@include screen640 {
	.header {
		background-image: url(../img/header-fon640.png);
		padding-bottom: 174px;

		&__title {
			margin-top: 30px;
			margin-left: 38px;
			font-size: 36px;
			max-width: 380px;
			line-height: 1;
		}

		&__website {
			font-size: 24px;
			margin-left: 38px;

		}
	}

	.nav {

		height: 74px;

		&__title {
			font-size: 24px;
			margin-left: 29px;
		}

		&__logo {
			display: none;
		}

		&__toggle {
			width: 82px;
			height: 74px;

			& span {
				margin-top: 37px;
				height: 4px;

				&::before,
				&::after {
					height: 4px;
				}

				&::before {
					top: -9px;
				}

				&::after {
					top: 9px;
				}
			}
		}

		&__toggle.on span {
			background-color: transparent;

			&::before {
				transform: rotate(45deg) translate(5px, 4px);
			}

			&::after {
				transform: rotate(-45deg) translate(8px, -7px);
			}
		}


		&__list {
			top: 74px;
			width: 243px;
		}

		&__list.active {
			display: block;
		}

		&__item {
			list-style: none;
			background-color: white;
			box-sizing: border-box;
			padding: 14px;
			width: 100%;
		}

		&__link {
			color: #444444;
			text-decoration: none;
			font-size: 15px;
			font-family: 'Lato', sans-serif;
			text-transform: uppercase;
			margin: 21px 18px;
		}
	}

	.subheader {
		&__text {
			font-size: 36px;
		}

		&__wrapper {
			width: 100%;
		}

		&__button {
			padding: 70px 71px;
		}

		&__item {
			&--1 {
				background-position: -64px -393px;
				background-repeat: no-repeat;
			}

			&--2 {
				background-image: url(../img/UA_UX%20Salads-640.png);
				background-repeat: no-repeat;
				background-position: -100px -270px;
				background-size: cover;
			}

			&--3 {
				background-image: url(../img/Desserts-fon640.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	.items-wrap {
		margin-top: 40px;
	}

	.menu {
		&__header {
			padding-bottom: 20px;

			&--title {
				margin-top: 45px;
				font-size: 36px;
			}

			&--subtitle {
				font-size: 13px;
				margin-top: 9px;
			}

		}

		&__title {
			font-size: 40px;
			padding: 23px 0px 23px 39px;
		}

		&__secondary-title {
			font-size: 30px;
			margin-left: 39px;
			margin-top: 38px;

			&--food {
				&::after {
					width: 49px;
					height: 48px;
					top: -10px;
					right: 36px;
				}
			}

			&--wine {
				&::after {
					height: 48px;
					width: 27px;
					right: 46px;

				}
			}

			&--tea {
				&::after {
					height: 42px;
					width: 61px;
					right: 46px;

				}
			}

			&--beer {
				&::after {
					height: 41px;
					width: 42px;
					right: 46px;
				}
			}
		}

		.menu-item {
			&__title {
				font-size: 27px;
				padding-top: 22px;
			}

			&__price {
				font-size: 27px;
				padding-top: 22px;
			}

			&__text {
				font-size: 18px;
				padding-top: 20px;
			}
		}
	}

	.footer {
		justify-content: center;
		padding-bottom: 23px;
		padding-top: 28px;

		&__text {
			font-size: 18px;
		}
	}
}


@include screen980andMore {
	.container {
		max-width: 1200px;
	}

	.header {
		background-image: url(../img/header-fon1200.png);
		padding-bottom: 130px;

		&__title {
			margin-top: 32px;
			margin-left: 15px;
			font-size: 54px;
			max-width: 565px;
		}

		&__website {
			font-size: 34px;
			margin-left: 15px;
			margin-top: 29px;

		}
	}

	.nav {
		height: 97px;

		&__title,
		&__toggle {
			display: none;
		}

		&__logo {
			display: block;
			margin: 8px 30px;
		}

		&__list {
			display: flex;
			flex-direction: row;
			position: relative;
			top: 0;
			width: auto;

		}

		&__item {
			list-style: none;
			background-color: #373c3f;
			box-sizing: border-box;
			border: none;
			width: auto;
			&:hover{
				background-color: $gray;
			}
		}

		&__link {
			color: #EBEBEB;
			font-weight: 400;
		}

	}

	i.subheader__button {
		display: none;
	}

	.subheader {
		flex-direction: row;

		&__wrapper {
			width: 100%;
		}

		&__text {
			font-size: 38px;
		}

		&__item {
			width: 33.33%;
			height: 327px;

			&--1 {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			&--2 {
				background-size: auto;
				background-position: center;
				background-repeat: no-repeat;
			}

			&--3 {
				background-size: cover;
			}
		}
	}

	.menu {
		&__header {
			justify-content: space-between;
			margin-top: 25px;

			&--title {
				font-size: 40px;
				margin-left: 16px;
			}

			&--subtitle {
				font-size: 20px;
				margin-top: 5px;
				margin-left: 17px;
			}
		}

		&__logo {
			display: block;
			margin-right: 15px;
		}

		&__section {
			flex-direction: row;

			&--1 {
				width: 50%;
			}

			&--2 {
				width: 50%;
				margin-top: 0px;
			}
		}
	}
	.footer {
		&__logo {
			display: block;
			margin-top: 4px;
			margin-left: 16px;
		}
	}
}

@include screen980 {
	.header {
		background-image: url(../img/header-fon980.png);
		padding-bottom: 130px;

		&__title {
			margin-top: 32px;
			margin-left: 15px;
			font-size: 54px;
			max-width: 565px;
		}

		&__website {
			font-size: 34px;
			margin-left: 15px;
			margin-top: 29px;

		}
	}
}
