@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  font-weight: 400;
  font-style: normal; }
body {
  margin: 0px; }

.items-wrap {
  margin-top: 19px; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.header {
  background-image: url(../img/header-fon320.png);
  background-repeat: no-repeat;
  padding-bottom: 94px;
  background-position: 0px 37px; }
  .header__title {
    margin-top: 13px;
    margin-left: 21px;
    max-width: 165px;
    font-size: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.5px; }
  .header__website {
    color: #A6D6E0;
    font-family: "Montserrat", sans-serif;
    margin-left: 21px;
    font-size: 12px;
    margin-top: 9px;
    letter-spacing: 0.4px; }

.nav {
  background-color: #373C3F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px; }
  .nav__logo {
    display: none; }
  .nav__title {
    color: white;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-left: 18px; }
  .nav__toggle {
    display: flex;
    justify-content: center;
    width: 41px;
    height: 37px;
    background-color: #202529; }
    .nav__toggle span {
      margin-top: 17px;
      height: 2px;
      width: 37%;
      background-color: white;
      display: block;
      position: relative; }
      .nav__toggle span::before, .nav__toggle span::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: white;
        display: block;
        position: absolute;
        transition: all 0.3s; }
      .nav__toggle span::before {
        top: -4px; }
      .nav__toggle span::after {
        top: 4px; }
  .nav__toggle.on span {
    background-color: transparent; }
    .nav__toggle.on span::before {
      transform: rotate(45deg) translate(3px, 2px); }
    .nav__toggle.on span::after {
      transform: rotate(-45deg) translate(4px, -3px); }
  .nav__list {
    display: none;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 182px;
    position: absolute;
    top: 37px;
    right: 0; }
  .nav__list.active {
    display: block; }
  .nav__item {
    list-style: none;
    background-color: white;
    box-sizing: border-box;
    padding: 14px;
    width: 100%;
    border: 1px solid #E1E1E1; }
    .nav__item:hover {
      background-color: #F5F5F5; }
  .nav__link {
    color: #444444;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 21px 18px; }

.subheader {
  margin-top: 3px;
  display: flex;
  flex-direction: column; }
  .subheader__item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 1px 0px; }
    .subheader__item--1 {
      background-image: url("../img/Pizza-delivery.png");
      background-position: -65px 87px;
      background-size: cover; }
    .subheader__item--2 {
      background-image: url(../img/UAUX-Salads-fon.png);
      background-position: 2px 85px;
      background-size: 243px auto; }
    .subheader__item--3 {
      background-image: url(../img/Desserts-fon.png);
      background-position: 0px -26px;
      background-size: 250px auto; }
  .subheader__text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px; }
    .subheader__text--pizza {
      margin: -5px 0px 0px 4px;
      letter-spacing: 0.2px; }
    .subheader__text--salads {
      margin: 0px 0px 0px 22px;
      letter-spacing: 0.2px; }
    .subheader__text--desserts {
      margin: 0px 0px 4px -4px; }
  .subheader__button {
    padding: 30px 31px;
    /* height: 75px; */
    background-color: #ACD8AD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
  .subheader__wrapper {
    width: 255px; }

.menu {
  font-family: 'Lato', sans-serif; }
  .menu__section {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .menu__section--2 {
      margin-top: 22px; }
  .menu__header {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    padding-bottom: 11px; }
    .menu__header--title {
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      color: #3F4043;
      font-size: 20px;
      text-align: center;
      margin-top: 20px; }
    .menu__header--subtitle {
      font-family: 'Lato', sans-serif;
      color: #CBCCCE;
      font-size: 10px;
      margin-top: 3px; }
  .menu__logo {
    display: none; }
  .menu__title {
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-left: 18px;
    letter-spacing: 0.6px;
    padding: 9px 0px 9px 19px; }
    .menu__title--dark {
      color: #ACD8AD;
      background-color: #373C3F; }
    .menu__title--light {
      color: #ffffff;
      background-color: #ACD8AD; }
  .menu__secondary-title {
    text-transform: uppercase;
    font-size: 15px;
    color: #3F4043;
    margin-left: 17px;
    position: relative;
    margin-top: 17px; }
    .menu__secondary-title--food::after {
      content: '';
      display: block;
      background-image: url(../img/menu-food.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 23px;
      height: 25px;
      top: -4px;
      right: 18px; }
    .menu__secondary-title--tea {
      margin-left: 18px; }
      .menu__secondary-title--tea::after {
        content: '';
        display: block;
        background-image: url(../img/tea.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 30px;
        height: 21px;
        top: -4px;
        right: 16px;
        background-size: cover; }
    .menu__secondary-title--wine {
      padding-top: 4px; }
      .menu__secondary-title--wine::after {
        content: '';
        display: block;
        background-image: url(../img/wine.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 13px;
        height: 24px;
        top: 0;
        right: 22px;
        background-size: cover; }
    .menu__secondary-title--beer {
      padding-top: 5px; }
      .menu__secondary-title--beer::after {
        content: '';
        display: block;
        background-image: url(../img/beer.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 21px;
        height: 20px;
        top: 1px;
        right: 22px;
        background-size: cover; }
  .menu .menu-item {
    color: #3F4043;
    font-family: 'Lato', sans-serif;
    margin: 8px 17px; }
    .menu .menu-item__title {
      font-size: 14px;
      display: inline-block;
      letter-spacing: -0.2px; }
      .menu .menu-item__title::before {
        content: '· '; }
    .menu .menu-item__text {
      font-size: 9px;
      margin-top: 6px;
      word-spacing: 1.3px;
      line-height: 120%; }
    .menu .menu-item__price {
      font-size: 13px;
      display: inline-block;
      float: right;
      font-weight: 700;
      margin-top: 2px; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ACD8AD;
  padding: 0px 28px;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  padding-bottom: 10px; }
  .footer__logo {
    display: none; }
  .footer__text {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 9px;
    margin-left: 14px;
    letter-spacing: -0.5px;
    line-height: 1.5; }

@media only screen and (min-width: 321px) and (max-width: 640px) {
  .header {
    background-image: url(../img/header-fon640.png);
    padding-bottom: 174px; }
    .header__title {
      margin-top: 30px;
      margin-left: 38px;
      font-size: 36px;
      max-width: 380px;
      line-height: 1; }
    .header__website {
      font-size: 24px;
      margin-left: 38px; }

  .nav {
    height: 74px; }
    .nav__title {
      font-size: 24px;
      margin-left: 29px; }
    .nav__logo {
      display: none; }
    .nav__toggle {
      width: 82px;
      height: 74px; }
      .nav__toggle span {
        margin-top: 37px;
        height: 4px; }
        .nav__toggle span::before, .nav__toggle span::after {
          height: 4px; }
        .nav__toggle span::before {
          top: -9px; }
        .nav__toggle span::after {
          top: 9px; }
    .nav__toggle.on span {
      background-color: transparent; }
      .nav__toggle.on span::before {
        transform: rotate(45deg) translate(5px, 4px); }
      .nav__toggle.on span::after {
        transform: rotate(-45deg) translate(8px, -7px); }
    .nav__list {
      top: 74px;
      width: 243px; }
    .nav__list.active {
      display: block; }
    .nav__item {
      list-style: none;
      background-color: white;
      box-sizing: border-box;
      padding: 14px;
      width: 100%; }
    .nav__link {
      color: #444444;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      margin: 21px 18px; }

  .subheader__text {
    font-size: 36px; }
  .subheader__wrapper {
    width: 100%; }
  .subheader__button {
    padding: 70px 71px; }
  .subheader__item--1 {
    background-position: -64px -393px;
    background-repeat: no-repeat; }
  .subheader__item--2 {
    background-image: url(../img/UA_UX%20Salads-640.png);
    background-repeat: no-repeat;
    background-position: -100px -270px;
    background-size: cover; }
  .subheader__item--3 {
    background-image: url(../img/Desserts-fon640.png);
    background-size: cover;
    background-repeat: no-repeat; }

  .items-wrap {
    margin-top: 40px; }

  .menu__header {
    padding-bottom: 20px; }
    .menu__header--title {
      margin-top: 45px;
      font-size: 36px; }
    .menu__header--subtitle {
      font-size: 13px;
      margin-top: 9px; }
  .menu__title {
    font-size: 40px;
    padding: 23px 0px 23px 39px; }
  .menu__secondary-title {
    font-size: 30px;
    margin-left: 39px;
    margin-top: 38px; }
    .menu__secondary-title--food::after {
      width: 49px;
      height: 48px;
      top: -10px;
      right: 36px; }
    .menu__secondary-title--wine::after {
      height: 48px;
      width: 27px;
      right: 46px; }
    .menu__secondary-title--tea::after {
      height: 42px;
      width: 61px;
      right: 46px; }
    .menu__secondary-title--beer::after {
      height: 41px;
      width: 42px;
      right: 46px; }
  .menu .menu-item__title {
    font-size: 27px;
    padding-top: 22px; }
  .menu .menu-item__price {
    font-size: 27px;
    padding-top: 22px; }
  .menu .menu-item__text {
    font-size: 18px;
    padding-top: 20px; }

  .footer {
    justify-content: center;
    padding-bottom: 23px;
    padding-top: 28px; }
    .footer__text {
      font-size: 18px; } }
@media only screen and (min-width: 980px) {
  .container {
    max-width: 1200px; }

  .header {
    background-image: url(../img/header-fon1200.png);
    padding-bottom: 130px; }
    .header__title {
      margin-top: 32px;
      margin-left: 15px;
      font-size: 54px;
      max-width: 565px; }
    .header__website {
      font-size: 34px;
      margin-left: 15px;
      margin-top: 29px; }

  .nav {
    height: 97px; }
    .nav__title, .nav__toggle {
      display: none; }
    .nav__logo {
      display: block;
      margin: 8px 30px; }
    .nav__list {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      width: auto; }
    .nav__item {
      list-style: none;
      background-color: #373c3f;
      box-sizing: border-box;
      border: none;
      width: auto; }
      .nav__item:hover {
        background-color: #373C3F; }
    .nav__link {
      color: #EBEBEB;
      font-weight: 400; }

  i.subheader__button {
    display: none; }

  .subheader {
    flex-direction: row; }
    .subheader__wrapper {
      width: 100%; }
    .subheader__text {
      font-size: 38px; }
    .subheader__item {
      width: 33.33%;
      height: 327px; }
      .subheader__item--1 {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .subheader__item--2 {
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat; }
      .subheader__item--3 {
        background-size: cover; }

  .menu__header {
    justify-content: space-between;
    margin-top: 25px; }
    .menu__header--title {
      font-size: 40px;
      margin-left: 16px; }
    .menu__header--subtitle {
      font-size: 20px;
      margin-top: 5px;
      margin-left: 17px; }
  .menu__logo {
    display: block;
    margin-right: 15px; }
  .menu__section {
    flex-direction: row; }
    .menu__section--1 {
      width: 50%; }
    .menu__section--2 {
      width: 50%;
      margin-top: 0px; }

  .footer__logo {
    display: block;
    margin-top: 4px;
    margin-left: 16px; } }
@media only screen and (min-width: 641px) and (max-width: 980px) {
  .header {
    background-image: url(../img/header-fon980.png);
    padding-bottom: 130px; }
    .header__title {
      margin-top: 32px;
      margin-left: 15px;
      font-size: 54px;
      max-width: 565px; }
    .header__website {
      font-size: 34px;
      margin-left: 15px;
      margin-top: 29px; } }

/*# sourceMappingURL=style.css.map */
